<app-header></app-header>
<div class="dashboard-container">
    <!-- <h2>Welcome </h2> -->
    <!-- <h2>Welcome {{user?.fullName}}</h2> -->
    <button (click)="navigateToDashboard()" class="button">Home Page</button><br>
    <button (click)="navigateToUserProfile()" class="button">User Profile</button><br>
    <button (click)="logout()" class="button">Logout</button><br>

  
  
    
  <app-subreddit-side-bar></app-subreddit-side-bar>
  </div>
<div class="container">
    <div class="row">
        <hr />
        <div class="col-md-9">
            <div class="row post">
                <div class="col-md-1">
                    <!-- <app-vote-button [post]="post"></app-vote-button> -->
                </div>
                <div class="col-md-11" *ngIf="post">
                    <!-- <span>
                        <span class="subreddit-text"><a class="post-url" href="">{{ post.postName }}</a></span>
                        <span> . Posted
                            <span> {{ post.duration }} </span>
                            by
                            <a *ngIf="post.userName === null" class="username" href="">Anonymous</a>
                            <a *ngIf="post.userName != null" class="username" href="">{{ post.userName }}</a>
                        </span>
                    </span> -->
                    <hr />
                    <a [routerLink]="post.url" class="post-title">{{ post.postName }}</a>
                    <div>
                        <p class="post-text" [innerHTML]="post.description"></p>
                    </div>
                    <div class="post-comment">
                        <form [formGroup]="commentForm" (ngSubmit)="postComment()">
                            <div class="form-group">
                                <textarea class="form-control" formControlName="text" placeholder="Your Thoughts?"></textarea>
                            </div>
                            <button type="submit" class="login float-right Commentbtn">Comment</button>
                        </form>
                    </div>
                    <div style="margin-top: 0px;" *ngFor="let comment of comments">
                        <div class="comment">
                            <div class="username">
                                <a [routerLink]="['/user', comment.username]">{{ comment.username }}</a>
                            </div>
                            <div>
                                <p>{{ comment.duration }}</p>
                            </div>
                            <b>{{ comment.text }}</b>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <app-side-bar></app-side-bar>
        </div>
    </div>
</div>
