.post-title {
    font-size: 28px;
    font-weight: bold;
    opacity: 1;
  }
  
  .post-title:hover {
    opacity: 0.6;
  }
  
  .subreddit-text {
    font-weight: bold;
  }
  
  .post-url {
    color: black;
  }
  
  .username{
      color: gray;
  }
  
  .post-text{
      margin-top: 10px;
  }
  
  .post{
      --post-line-color: #ccc;    
      border: 1px solid #ccc;
      margin-top: 10px;
      margin-bottom: 10px;
      overflow: hidden;
      background-color: rgba(255,255,255,0.8);
      color: #878A8C;
      position: relative;
      border-radius: 4px;
      padding:5px;
  }
  
  .comment{    
      --post-line-color: #ccc;    
      border: 1px solid #ccc;    
      margin-bottom: 10px;
      overflow: hidden;
      background-color: rgba(255,255,255,0.8);
      color: #878A8C;
      position: relative;
      border-radius: 4px;
      padding:5px;
  }
  .dashboard-container {
    width: 17%;
    max-height: 100%;
    margin: 0px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: left;
    border: 0px 100% 0 0px;
  }
  .button {
    margin: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    background-color: #9cdbec;
    color: #000000;
    border: none;
    border-radius: 4px;
    border: 1px solid black;
    width: 200px;
  }
  
  button:hover {
    background-color: #45abda;
    color: #000000;
  }
  .sidebar-view-subreddit {
    width: 200px;
    height: 242px;
    --post-line-color: #ccc;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    color: #878A8C;
    position: relative;
    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .sidebar-view-subreddit {
    height: 280px;
  }

  .sidebar-view-subreddit {
    padding-bottom: 20px; /* Add padding to the bottom to create space */
}
.Commentbtn{
  margin: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #9cdbec;
  color: #000000;
  border: none;
  border-radius: 4px;
  border: 1px solid black;
  width: 100px;
  margin-top: 5px;
}