<app-header></app-header>

<div class="dashboard-container">
  <h2>Welcome {{user?.fullName}}</h2>
  <button (click)="navigateToUserProfile()">User Profile</button><br>
  <button (click)="logout()">Logout</button><br>


  
<app-subreddit-side-bar></app-subreddit-side-bar>
</div>


<!-- <div class="dashboard-cards"> -->
  <!-- Project-related Articles and Videos Card -->
  <!-- <div class="dashboard-card"> -->
    <!-- <h3>Trending Project-related Articles and Videos</h3> -->
    <!-- Include content related to project articles and videos here -->
  <!-- </div> -->
<!-- </div> -->

<app-home></app-home>

<div class="right-panel">
  <app-side-bar></app-side-bar>
</div>


<div class="middle-panel">
<app-post-tile></app-post-tile>
</div>
