.dashboard-container {
  width: 17%;
  max-height: 100%;
  margin: 0px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  float: left;
  border: 0px 100% 0 0px;
  margin-top: 10px;
}

h2 {
  color: #333;
}

button {
  margin: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #9cdbec;
  color: #000000;
  border: none;
  border-radius: 4px;
  border: 1px solid black;
  width: 200px;
  margin-top: 10px;
}

button:hover {
  background-color: #45abda;
  color: #000000;
}

.logout-btn {
  background-color: #f44336;
}

.logout-btn:hover {
  background-color: #d32f2f;
}



.dashboard-card {
  width: 98%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #333;
  
}

.dashboard-cards{
  width: 79%;
  max-height: 100%;
  margin: 0px ;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  float: right;
}

.condition-block{
  width: 65%;
  max-height: 100%;
  margin: 0px ;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  float: right;
}
.overlay {
  background: #51d3f2;
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
  background: linear-gradient(to right, #2b6262, #0ae5f2);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.right-panel {
  position: fixed;
  top: 79px; /* Adjust this value to change the distance from the top */
  right: 0px; /* Adjust this value to change the distance from the right */
  z-index: 999; /* Adjust this value if necessary */
}


.middle-panel {
justify-content: center;
align-items: center;
height: 100vh; /* Adjust this value if you want different height */
}
