.project-spaces-container {
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-group {
  margin-top: 20px;
}

.project-group h3 {
  color: #333;
}

.project-group ul {
  list-style: none;
  padding: 0;
}

.project-group li {
  margin-bottom: 5px;
}
.project-spaces-container:hover {
  background-color: grey;
}