<app-header></app-header>
<!-- <div class="project-spaces-container"> -->
    <!-- <h2>Project Spaces</h2>
    <div class="project-group">
      <h3>Project Group 1</h3>
      <ul>
        <li>Discussion Board</li>
        <li>Knowledge Repository</li>
      </ul>
    </div>
    <div class="project-group">
      <h3>Project Group 2</h3>
      <ul>
        <li>Discussion Board</li>
        <li>Knowledge Repository</li>
      </ul>
    </div> -->
    <!-- <div class="dashboard-card">
      <h3>NUUDAY</h3>
    </div>
  </div> -->
  <div class="project-spaces-container">
    <div class="dashboard-card">
      <h3>NUUDAY</h3>
    </div>
  </div>
  <div class="project-spaces-container">
    <div class="dashboard-card">
      <h3>CSRD</h3>
    </div>
  </div>
  <div class="project-spaces-container">
    <div class="dashboard-card">
      <h3>O2UK</h3>
    </div>
  </div>
  <div class="project-spaces-container">
    <div class="dashboard-card">
      <h3>T-Mobile</h3>
    </div>
  </div>
  <div class="project-spaces-container">
    <div class="dashboard-card">
      <h3>Etisalat</h3>
    </div>
  </div>
  <div class="project-spaces-container">
    <div class="dashboard-card">
      <h3>Telefonica</h3>
    </div>
  </div>
  <div class="project-spaces-container">
    <div class="dashboard-card">
      <h3>Telekom Malaysia</h3>
    </div>
  </div>
  <div class="project-spaces-container">
    <div class="dashboard-card">
      <h3>Bharti Airtel</h3>
    </div>
  </div>
  <div class="project-spaces-container">
    <div class="dashboard-card">
      <h3>Cisco</h3>
    </div>
  </div>
  <div *ngIf="project">
  <div class="project-spaces-container">
    <div class="dashboard-card">
      <h3>{{project}}</h3>
    </div>
  </div>
  </div>
  