<!-- header.component.html -->

<header class="app-header" [class.dark-mode]="darkMode">
  <!-- Left Section - Company Logo -->
  <div class="logo-container">
    <!-- Add your company logo here -->
    <img src="../../../assets/NC_header.jpg" alt="Company Logo" width="245" height="50" />
  </div>

  <!-- Middle Section - Search Tab -->
  <div class="search-container">
    <!-- Add your search tab here -->
    <input type="text" placeholder="Search..." class="search-input" [(ngModel)]="searchQuery" />
    <!-- Button to trigger search -->
    <button class="search-button" (click)="performSearch()" >Search</button>
    <!-- Display search results -->
    <!-- <ul *ngIf="searchResults.length > 0" class="search-results">
      <li *ngFor="let result of searchResults">{{ result.fullName }}</li>
    </ul> -->
    <!-- Add box shadow around the search input -->
    <div class="search-input-shadow"></div>
  </div>

  <!-- Right Section - User Profile -->
  <div class="profile-info">
    <!-- Dark Mode Toggle Image -->
    <div class="dark-mode">
      <img
        src="../../../assets/Dark_Light_Mode.png "
        width="1000%" height="auto"
        alt="Toggle Dark Mode"
        (click)="toggleDarkMode()"
        class="dark-mode-toggle"
      />
    </div>
    <div class="notification">
      <img
        src="../../../assets/notification-bell.png "
        width="50px" height="50px"
        alt="notification"
        (click)="showNotification()"
      />
    </div>
    <!-- Display profile picture -->
    <div></div>
    <div class="profile-picture-container">
      <img src="../../../assets/avathar.png" alt="Profile Picture" class="profile-picture" />
      <div class="profile-options" *ngIf="showProfileOptions">
        <button (click)="viewProfile()" class="profile-optionsview">View Profile</button>
        <!-- <button (click)="editProfile()" class="profile-optionsview">Edit Profile</button> -->
        <button (click)="leavetrack()" class="profile-optionsview">Leave and Shift Tracking</button>
        <button (click)="birthday()" class="profile-optionsview">Birthdays and Work Anniversaries</button>
        <button (click)="navigateToDashboard()" class="profile-optionsview">Home Page</button>
        <button (click)="logout()" class="profile-optionsview">LogOut</button>
      </div>
    </div>
    <!-- Display user name or any other information -->
    <span>{{ userProfile?.name }}</span>
  </div>
</header>
