.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #fff;
  border: 1px solid black; /* Add this line to add a black border */
  border-radius: 10px;
  margin-top: 1px;
  margin-left: 1px;
}

.dark-mode {
  background-color: #2494b0;
  margin-left: 0px; 
  border-radius: 10px;
}

.logo-container {
  margin-right: auto;
}

.company-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.search-container {
  flex-grow: 1;
  margin: 0 10px 0px 20px;
  position: relative; 
}

.search-input {
  width: 60%;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.dark-mode-toggle {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-picture-container {
  position: relative;
  padding-left: 140px;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.profile-options {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #034b4f;
  padding: 5px;
  border-radius: 5px;
  display: none;
  z-index: 1000; /* Adjust the value as needed */
}

.profile-optionsview {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  font-size: 12px;
  color: rgb(1, 70, 86); /* Text color changed to dark */
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Adding a smooth transition */
}

.profile-optionsview:hover {
  background-color: #1cd8ed; /* Light gray background on hover */
  width: 162px;
  font-size: 13px;
}

.profile-picture-container:hover .profile-options {
  display: block;
}

.profile-options button {
  margin-right: 5px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: grab;
}

.profile-options button:hover {
  background-color: #1cd8ed;
}

.dark-mode {
  /* border-left: 5px solid #fff;  */
  border: 1px solid white; /* Add this line to add a black border */
}

.notification{
  padding-left: 60px;
}
button {
  margin: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #9cdbec;
  color: #000000;
  border: none;
  border-radius: 4px;
  border: 1px solid black;
  width: 200px;
}

button:hover {
  background-color: #45abda;
  color: white;
}