<div class="container">
  <!-- Post Display -->
  <div class="row post" *ngFor="let post of visiblePosts">
    <div class="col-md-11">
      <span class="subreddit-info">
        <span class="subreddit-text"><a class="posturl" (click)="postNavigate(post.groupId)">{{ getGroupName(post.groupId) }}</a></span>
        <span> . Posted by <a class="username" (click)="navigateUserProfile(post.employeeId)">{{ getEmployeeName(post.employeeId) }}</a></span>
        <span> . {{post.duration}}</span>
      </span>
      <hr />
      <div class="post-title">
        <a class="postname" (click)="goToPost(post.id)">{{post.postName}}</a>
      </div>
      <div>
        <p class="post-text" [innerHtml]="post.description"></p>
      </div>
      <hr />
      <span>
        <a class="btnCommments" role="button">
          <fa-icon [icon]="faComments"></fa-icon>
          Comments({{post.commentCount}})
        </a>
        <button class="login readPostbtn" (click)="goToPost(post.id)">
          Read Post
        </button>
      </span>
    </div>
  </div>

  <!-- Previous Button -->
  <button class="btn btn-primary previousPage" (click)="previousPage()" *ngIf="currentPage > 0">Previous</button>
  <!-- Next Button -->
  <button class="btn btn-primary nextPage" (click)="nextPage()" *ngIf="(currentPage + 1) * 3 < posts$.length">Next</button>
</div>
