.post{
    --post-line-color: #ccc;    
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.8);
    color: #878A8C;
    position: relative;
    border-radius: 4px;
    padding:5px;
}

.btnCommments{
    border-radius: 2px solid;
    color: #878A8C;
    opacity: 1;
}

.btnCommments:hover{
    opacity: 0.65;
    cursor: pointer;
}

.post-title{
    font-size: 28px;
    font-weight: bold;
    opacity: 1;
}

.posturl, .postname{    
    color: black;
}

.subreddit-text{
    font-weight: bold;
}

.post-text{
    margin-top: 10px;
}

/* .previousPage {
    margin-left: 0px; 
  } */
  
  .nextPage {
    margin-left: 800px;
    margin-right: 100px;
  }

  .readPostbtn{
    background-color: #9cdbec;
    color: #000000;
    border: none;
    border-radius: 4px;
    border: 1px solid black;
    margin-left: 10px;
  }