<div class="leave-shift-tracking-container">
    <h2>Leave & Shift Tracking</h2>
    <div class="tracking-options">
      <button>Track Leave</button>
      <button>Track Shift</button>
    </div>
    <div class="export-section">
      <button>Export to Excel</button>
    </div>
  </div>
  