.leave-shift-tracking-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .tracking-options {
    margin-top: 20px;
  }
  
  .tracking-options button {
    margin-right: 10px;
  }
  
  .export-section {
    margin-top: 20px;
  }
  