.container {
    margin-top: 20px;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}
.dashboard-container {
    width: 17%;
    max-height: 100%;
    margin: 0px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: left;
    border: 0px 100% 0 0px;
  }
  .button {
    margin: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    background-color: #9cdbec;
    color: #000000;
    border: none;
    border-radius: 4px;
    border: 1px solid black;
    width: 200px;
  }
  
  button:hover {
    background-color: #45abda;
    color: #000000;
  }
  .sidebar-view-subreddit {
    width: 200px;
    height: 242px;
    --post-line-color: #ccc;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    color: #878A8C;
    position: relative;
    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .sidebar-view-subreddit {
    height: 280px;
  }

  .sidebar-view-subreddit {
    padding-bottom: 20px; /* Add padding to the bottom to create space */
}

.view-all {
    margin-top: 10px; /* Add margin to the top of the view all section */
}

.view-text {
    margin-left: 5px; /* Add margin to the left of the view text */
}

.post-container {
  margin-top: 20px;
}

.post{
  --post-line-color: #ccc;    
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgba(255,255,255,0.8);
  color: #878A8C;
  position: relative;
  border-radius: 4px;
  padding:5px;
}

.btnCommments{
  border-radius: 2px solid;
  color: #878A8C;
  opacity: 1;
}

.btnCommments:hover{
  opacity: 0.65;
  cursor: pointer;
}

.post-title{
  font-size: 28px;
  font-weight: bold;
  opacity: 1;
}

.posturl, .postname{    
  color: black;
}

.subreddit-text{
  font-weight: bold;
}

.post-text{
  margin-top: 10px;
}

/* .previousPage {
  margin-left: 0px; 
} */

.nextPage {
  margin-left: 800px;
  margin-right: 100px;
}

.readPostbtn{
  background-color: #9cdbec;
  color: #000000;
  border: none;
  border-radius: 4px;
  border: 1px solid black;
  margin-left: 10px;
}
/* .nextPage {
  margin-left: 800px;
  margin-right: 100px;
} */

.previousPage {
  margin-left: 10px;
}
.postclass{
  margin-left:10px ;
}