<app-header></app-header>
<div class="dashboard-container">
    <button (click)="navigateToDashboard()" class="button">Home Page</button><br>
    <button (click)="navigateToUserProfile()" class="button">User Profile</button><br>
    <button (click)="logout()" class="button">Logout</button><br>
    <app-subreddit-side-bar></app-subreddit-side-bar>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2>Group Details</h2>
            <!-- <div>
                <strong>ID:</strong> {{ groupDetails?.id }}
            </div> -->
            <div>
                <strong>Name:</strong> {{ groupDetails?.groupName }}
            </div>
            <!-- <div>
                <strong>Employee ID:</strong> {{ groupDetails?.employeeId }}
            </div> -->
            <div>
                <strong>Created By (User Name):</strong> {{ groupDetails?.userName }}
            </div>
        </div>
        <div class="col-md-3">
            <!-- You can add a sidebar or other components here if needed -->
        </div>
    </div>
</div>

<div class="post-container">
    <h2 class="postclass">Posts</h2>
    <ng-container *ngIf="groupPosts.length > 0; else noPostsMessage">
        <div class="row post" *ngFor="let post of visiblePosts">
            <div class="col-md-11">
                <!-- <span class="subreddit-info">
                    <span class="subreddit-text"><a class="posturl" routerLink="">{{post.groupName}}</a></span>
                    <span> . Posted by <a class="username" routerLink="/user/{{post.employeeId}}">{{post.employeeId}}</a></span>
                    <span> . {{post.duration}}</span>
                </span> -->
                <!-- <hr /> -->
                <div class="post-title">
                    <a class="postname" (click)="goToPost(post.id)">{{post.postName}}</a>
                </div>
                <div>
                    <p class="post-text" [innerHTML]="post.description"></p>
                </div>
                <hr />
                <span>
                    <a class="btnComments" role="button">
                        <fa-icon [icon]="faComments"></fa-icon>
                        Comments({{post.commentCount}})
                    </a>
                    <button class="login readPostbtn" (click)="goToPost(post.id)">
                        Read Post
                    </button>
                </span>
            </div>
        </div>
        <div>
            <button (click)="previousPage()" [disabled]="currentPage === 1" class="btn btn-primary previousPage">Previous</button>
            <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="btn btn-primary nextPage">Next</button>
        </div>
    </ng-container>
    <ng-template #noPostsMessage>
        <p>No posts in this group.</p>
    </ng-template>
</div>
