/* auth.component.css - Common Styles */

.auth-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
  }
  /* Styles for auth buttons */
.auth-button-styles {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.auth-button-styles:hover {
  background-color: #45a049;
}

/* Reusable styles for auth buttons with a different color */
.auth-button-alt-styles {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.auth-button-alt-styles:hover {
  background-color: #2980b9;
}