.container {
  margin-top: 20px;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.result-item {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex; /* Add display flex to align items */
}

.result-item:hover {
  background-color: #f5f5f5;
}

.left-section {
  margin-right: 10px; /* Add margin between image and text */
  display: ruby;
}

.profile-image {
  width: 50px; /* Adjust image width */
  height: 50px; /* Adjust image height */
  border-radius: 50%; /* Make the image circular */
}

.open-profile-button {
  margin-top: 5px; /* Add margin between image and button */
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: progress;
  margin-left: 900px;
}

.open-profile-button:hover {
  background-color: #0056b3; /* Button background color on hover */
}
.dashboard-container {
  width: 17%;
  max-height: 100%;
  margin: 0px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  float: left;
  border: 0px 100% 0 0px;
  margin-right: 40px;
}
button {
  margin: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #9cdbec;
  color: #000000;
  border: none;
  border-radius: 4px;
  border: 1px solid black;
  width: 200px;
}

button:hover {
  background-color: #45abda;
  color: #000000;
}
.sidebar-view-subreddit {
  width: 200px;
  height: 242px;
  --post-line-color: #ccc;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  color: #878A8C;
  position: relative;
  border-radius: 4px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar-view-subreddit {
  height: 280px;
}

.sidebar-view-subreddit {
  padding-bottom: 20px; /* Add padding to the bottom to create space */
}