<app-header></app-header>
<div class="dashboard-container">
    <!-- <h2>Welcome </h2> -->
    <!-- <h2>Welcome {{user?.fullName}}</h2> -->
    <button (click)="navigateToDashboard()" >Home Page</button><br>
    <button (click)="navigateToUserProfile()" >User Profile</button><br>
    <button (click)="logout()" >Logout</button><br>

  
  
    
  <app-subreddit-side-bar></app-subreddit-side-bar>
  </div>
<div class="container">
  <div class="row">
      <hr />
      <div class="col-md-9">
          <h2>List of Groups</h2>
          <div class="result-items">
              <div>
                  <strong>
                      <div *ngFor="let subreddit of subreddits">
                          <a routerLink="/view-group/{{subreddit.id}}" class="result-item">{{subreddit.groupName}}</a>
                      </div>
                  </strong>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <app-side-bar></app-side-bar>
      </div>
  </div>
</div>
