<div class="sidebar">
    <img src="../../../assets/Banner_NC.png" width="300px" height="100px">
    <div style="text-align: center; font-size: 1em">Welcome to Netcracker Nexus home page. Come here to
        check in with your favorite Workspace.</div>
    <div style="text-align: center">
        <button class="btnCreatePost" (click)="goToCreatePost()">Create Post</button>
    </div>
    <div style="text-align: center">
        <button class="btnCreateSubreddit" (click)="goToCreateSubreddit()">Create Group</button>
    </div>
</div>