<app-header></app-header>
<div class="dashboard-container">
    <!-- <h2>Welcome </h2> -->
    <!-- <h2>Welcome {{user?.fullName}}</h2> -->
    <button (click)="navigateToDashboard()" >Home Page</button><br>
    <button (click)="navigateToUserProfile()" >User Profile</button><br>
    <button (click)="logout()" >Logout</button><br>

  
  
    
  <app-subreddit-side-bar></app-subreddit-side-bar>
  </div>
<div class="container">
    <div class="row">
      <div class="create-subreddit-container">
        <form class="post-form" [formGroup]="createSubredditForm" (ngSubmit)="createSubreddit()">
          <div class="form-group">
            <div class="create-subreddit-heading">Create Group</div>
            <hr />
            <input type="text" [formControlName]="'title'" class="form-control" style="margin-top: 5px"
              placeholder="Title">
            <textarea type="text" [formControlName]="'description'" style="width: 100%; margin-top: 5px"
              placeholder="Description"></textarea>
            <div>
              <div style="margin-top: 5px" class="float-right">
                <button (click)="discard()" class="btnDiscard">Discard</button>
                <button (click)="createSubreddit()" class="btnCreateSubreddit">Create</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>