<app-header></app-header>
<div class="button-container">
  <div class="create-user-profile">
    <div>
      <button (click)="createUser()" title="Option is Enable only for HR's">Create a New User</button>
    </div>
  </div>

  <div class="generate-resume">
    <div>
      <button (click)="generateResume()">Generate Resume</button>
    </div>
  </div>
  

  
  <div class="projectInfoDisplay">
    <div>
      <button (click)="projectInfoDisplayfun()">Display Project Info</button>
    </div>
  </div>
  
  <div class="userInfoDisplay">
    <div>
      <button (click)="userInfoDisplayfun()">Display User Info</button>
    </div>
  </div>
  
  <div class="go-back">
    <div>
      <button (click)="goBack()">goBack</button>
    </div>
  </div>
</div>


<div *ngIf="userProfile">
<div *ngIf="userInfoDisplay">
<div class="user-profile-container">
  <h2>User Info :</h2>

  <!-- <div *ngIf="userProfile"> -->
    <div *ngIf="!editing">
      <!-- Display user project data in read-only mode -->
      <p><strong>Full Name :</strong> {{ userProfile.fullName }}</p>
      <p><strong>Emp ID :</strong> {{ userProfile.employeeId }}</p>
      <p><strong>Gender :</strong> {{ userProfile.gender }}</p>
      <p><strong>DOB :</strong> {{ userProfile.dob }}</p>
      <p><strong>Current Office Location :</strong> {{ userProfile.officeLocation }}</p>
      <p><strong>LineManager :</strong> {{ userProfile.lineManager }}</p>
      <p><strong>Employee Status :</strong> {{ userProfile.employeeStatus }}</p>
      <p><strong>NCStartDate :</strong> {{ userProfile.startDate }}</p>
      <p><strong>Current Project :</strong> {{ userProfile.currentProject }}</p>

      <!-- Edit button to enable editing -->
      <button (click)="toggleEditing()">Edit</button>
    </div>

    <div *ngIf="editing">
          <!-- Form for editing user project data -->

          <label for="Name">Name:</label>
      <input type="text" id="Name" [(ngModel)]="userProfile.fullName" disabled>


          <label for="empid">employeeId:</label>
          <input type="text" id="empid" [(ngModel)]="userProfile.employeeId" disabled>

          <label for="gender">Gender:</label>
          <input type="text" id="gender" [(ngModel)]="userProfile.gender">

          <label for="dob">DOB:</label>
          <input type="text" id="dob" [(ngModel)]="userProfile.dob">

          <label for="officeLocation">Current office Location:</label>
          <input type="text" id="officeLocation" [(ngModel)]="userProfile.officeLocation">

          <label for="lineManager">lineManager:</label>
          <input type="text" id="lineManager" [(ngModel)]="userProfile.lineManager">

          <label for="lineManager">Employee Status:</label>
          <input type="text" id="EmployeeStatus" [(ngModel)]="userProfile.employeeStatus">

          <label for="lineManager">NCStartDate :</label>
          <input type="text" id="NCStartDate" [(ngModel)]="userProfile.startDate">

          <label for="lineManager">Current Project:</label>
          <input type="text" id="CurrentProject" [(ngModel)]="userProfile.currentProject">


      <!-- Save and Cancel buttons for editing mode -->
      <button (click)="saveUserProfile()">Save</button>
      <button (click)="toggleEditing()">Cancel</button>
    </div>
  </div>

</div>            
</div>

<div *ngIf="projectInfoDisplay">
  <h2>Project Info :</h2>
  <table>
    <tr>
      <th>Customer/Client</th>
      <th>Project Name</th>
      <th>Domain</th>
      <th>Position Name</th>
      <th>Job Role</th>
      <th>Project Start date</th>
      <th>Project End date</th>
      <th>Employee Current Status</th>
    </tr>
    <tr *ngFor="let info of projectInformation">
      <td>{{ info.client }}</td>
      <td>{{ info.projectName }}</td>
      <td>{{ info.domain }}</td>
      <td>{{ info.positionName }}</td>
      <td>{{ info.jobRole }}</td>
      <td>{{ info.projectStartDate }}</td>
      <td>{{ info.projectEndDate }}</td>
      <td>{{ info.employeeCurrentStatus }}</td>
    </tr>
  </table>
</div> 

<div *ngIf="userProfile">
<div *ngIf="userInfoDisplay">
<div class="image-container">
  <img src="../../../assets/avathar.png" alt="Prfile_Picture">
</div>
</div>
</div>
