/* Import styles from auth.component.css */
@import '../../shared/auth.component.css';

/* Apply the imported styles */
.user-profile-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-info-container{
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  margin: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #9cdbec;
  color: #000000;
  border: none;
  border-radius: 4px;
  border: 1px solid black;
  width: 200px;
}

button:hover {
  background-color: #45abda;
  color: white;
}
button {
  margin: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #9cdbec;
  color: #000000;
  border: none;
  border-radius: 4px;
  border: 1px solid black;
}

.image-container {
  position: absolute;
  top: 36%; /* Adjust as needed */
  left: 59%; /* Adjust as needed */
  transform: translate(-50%, -50%);
  z-index: 999; /* Ensure the image appears above other content */
}


.image-container img {
  width: 100px; /* Adjust the width of the image as needed */
  height: auto; /* Maintain the aspect ratio */
}

/* Style the table */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

/* Style table header */
th {
  background-color: #f2f2f2;
  padding: 8px;
  text-align: center;
}

/* Style table data cells */
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

/* Style table rows alternately */
tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Style table rows on hover */
tr:hover {
  background-color: #f2f2f2;
}
.button-container {
  display: flex;
  justify-content: space-around;
  background: #3bc5e7;
  border-radius: 14px;
  margin: 5px 75px;
}
