.sidebar-view-subreddit {
    width: 200px;
    height: 242px;
    --post-line-color: #ccc;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    color: #878A8C;
    position: relative;
    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .sidebar-view-subreddit {
    height: 280px;
  }

  .sidebar-view-subreddit {
    padding-bottom: 20px; /* Add padding to the bottom to create space */
}

.view-all {
    margin-top: 10px; /* Add margin to the top of the view all section */
}

.view-text {
    margin-left: 5px; /* Add margin to the left of the view text */
}
