<div class="sidebar-view-subreddit">
    <div style="color: black; font-weight: bold">Browse Groups</div>
    <hr />
    <span *ngFor="let subreddit of subreddits">
        <span class="subreddit-text"><a href="/view-group/{{subreddit.id}}">{{subreddit.groupName}}</a></span>
        <hr />
    </span>
    <div style="text-align: center" *ngIf="displayViewAll">
        <a style="font-weight: bold" routerLink="/list-group">View All</a>
    </div>
</div>