/* styles.css */

.auth-container {
    background-color: #3498db; /* Light blue color */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Added shadow */
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
  }
  
  h2 {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    color: white;
    margin-bottom: 8px;
    font-size: 14px;
  }
  
  input {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #2980b9; /* Darker blue border */
    border-radius: 6px;
    font-size: 16px;
  }
  
  button {
    background-color: #2ecc71; /* Green color for login button */
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #27ae60; /* Darker green on hover */
    color: white;
  }
  