<div class="create-user-profile-container">
    <h2>Create User Profile</h2>
  
    <div>
      <label for="fullName">Full Name:</label>
      <input type="text" id="fullName" [(ngModel)]="newUserProfile.fullName">
  
      <label for="employeeId">Employee ID:</label>
      <input type="text" id="employeeId" [(ngModel)]="newUserProfile.employeeId">
  
      <label for="gender">Gender:</label>
      <input type="text" id="gender" [(ngModel)]="newUserProfile.gender">
  
      <label for="dob">Date of Birth:</label>
      <input type="text" id="dob" [(ngModel)]="newUserProfile.dob">
  
      <label for="officeLocation">Office Location:</label>
      <input type="text" id="officeLocation" [(ngModel)]="newUserProfile.officeLocation">
  
      <label for="lineManager">Line Manager:</label>
      <input type="text" id="lineManager" [(ngModel)]="newUserProfile.lineManager">
  
      <label for="employeeStatus">Employee Status:</label>
      <input type="text" id="employeeStatus" [(ngModel)]="newUserProfile.employeeStatus">
  
      <label for="currentProject">Current Project:</label>
      <input type="text" id="currentProject" [(ngModel)]="newUserProfile.currentProject">
  
      <label for="jobTitle">Job Title:</label>
      <input type="text" id="jobTitle" [(ngModel)]="newUserProfile.jobTitle">
      
      <label for="NCStartDate">NC Start Date:</label>
      <input type="text" id="startDate" [(ngModel)]="newUserProfile.startDate">
  
      <label for="bloodGroup">Blood Group:</label>
      <input type="text" id="bloodGroup" [(ngModel)]="newUserProfile.bloodGroup">
  
      <label for="currentRole">Current Role:</label>
      <input type="text" id="currentRole" [(ngModel)]="newUserProfile.currentRole">
        
      <label for="programmingLanguages">Programming Languages:</label>
      <input type="text" id="programmingLanguages" [(ngModel)]="newUserProfile.programmingLanguages">
  
      <button (click)="createUserProfile()">Create</button>
      <button (click)="goboack()">Back</button>
    </div>
  </div>
  