.create-user-profile-container {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin: 50px;
  }
  
  .create-user-profile-container h2 {
    margin-bottom: 20px;
  }
  
  .create-user-profile-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .create-user-profile-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .create-user-profile-container button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
  }
  
  .create-user-profile-container button:hover {
    background-color: #0056b3;
  }
  