<app-header></app-header>
<div class="dashboard-container">
    <!-- <h2>Welcome </h2> -->
    <!-- <h2>Welcome {{user?.fullName}}</h2> -->
    <button (click)="navigateToDashboard()" >Home Page</button><br>
    <button (click)="navigateToUserProfile()" >User Profile</button><br>
    <button (click)="logout()" >Logout</button><br>

  
  
    
  <app-subreddit-side-bar></app-subreddit-side-bar>
  </div>
<div class="container">
  <div class="row">
    <hr />
    <div class="create-post-container col-md-9">
      <form class="post-form" [formGroup]="createPostForm">
        <div class="form-group">
          <div class="create-post-heading">Create Post</div>
          <hr />
          <input type="text" [formControlName]="'postName'" class="form-control" style="margin-top: 5px"
            placeholder="Title">
          <textarea type="text" [formControlName]="'description'" style="width: 100%; margin-top: 5px ; height: 100px;"
            placeholder="Description"></textarea>

          <select class="form-control" style="margin-top: 10px" [formControlName]="'groupName'">
            <option value="" selected disabled>Select Group</option>
            <option *ngFor="let subreddit of subreddits">{{subreddit.groupName}}</option>
          </select>

          
          <span>
            <div style="margin-top: 5px" class="float-right">
              <button (click)="discardPost()" class="btnDiscard">Discard</button>
              <button (click)="createPost()" class="btnCreatePost">Post</button>
            </div>
          </span>
        </div>
      </form>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>
