<h2></h2>
<div class="container" id="container" [class.right-panel-active]="containerClass === 'right-panel-active'">
    <div class="form-container sign-up-container">
        <form action="#">
            <h1>Create Account</h1>
            <div class="social-container">
              <a href="https://www.facebook.com/NetCrackerTech/" class="social" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.linkedin.com/company/netcrackertech" class="social" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://www.netcracker.com/" class="social" target="_blank"><i class="fas fa-globe"></i></a>
          </div>          
            <span>or use your email for registration</span>
            <input type="text" id="username" name="username" placeholder="User Name" [(ngModel)]="username" required>

            <input type="password" id="password" name="password" placeholder="Password" [(ngModel)]="password" required>

            <input type="email" id="emailId" name="emailId" placeholder="Email Id" [(ngModel)]="emailId" required>

            <button (click)="signup()">Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="#">
            <h1>Sign in</h1>
            <div class="social-container">
              <a href="https://www.facebook.com/NetCrackerTech/" class="social" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.linkedin.com/company/netcrackertech" class="social" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://www.netcracker.com/" class="social" target="_blank"><i class="fas fa-globe"></i></a>
          </div>
            <span>or use your account</span>
            <input type="email" id="email" name="email" placeholder="User Name" [(ngModel)]="username" required>

            <input type="password" id="password" name="password" placeholder="Password" [(ngModel)]="password" required>

            <a href="#">Forgot your password?</a>
            <button (click)="signin()">Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn" (click)="togglePanel('sign-in')">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp" (click)="togglePanel('sign-up')">Sign Up</button>
            </div>
        </div>
    </div>
</div>
