<app-header></app-header>
<div class="container">
  <h2>Search Results</h2>
  <div *ngIf="searchResults.length === 0" class="no-results">No results found.</div>
  <div *ngFor="let result of searchResults" (click)="navigateToUserProfile(result.employeeId)" class="result-item">
    <!-- Display image and information -->
    <div class="result-info">
      <div class="left-section">
        <!-- Image -->
        <img src="../../../assets/avathar.png" alt="Profile Image" class="profile-image">
        <!-- "Open profile" button -->
        <button class="open-profile-button" (click)="navigateToUserProfile(result.employeeId)">Open Profile</button>
      </div>
      <div class="right-section">
        <!-- Display each search result -->
        <div><strong>Name:</strong> {{ result.fullName }}</div>
        <div><strong>Email:</strong> {{ result.email }}</div>
        <div><strong>Employee ID:</strong> {{ result.employeeId }}</div>
        <!-- Add more fields as needed -->
      </div>
    </div>
  </div>
</div>
