.container {
  margin-top: 20px;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.result-item {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex; /* Add display flex to align items */
}

.result-item:hover {
  background-color: #f5f5f5;
}

.left-section {
  margin-right: 10px; /* Add margin between image and text */
  display: ruby;
}

.profile-image {
  width: 50px; /* Adjust image width */
  height: 50px; /* Adjust image height */
  border-radius: 50%; /* Make the image circular */
}

.open-profile-button {
  margin-top: 5px; /* Add margin between image and button */
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: progress;
  margin-left: 900px;
}

.open-profile-button:hover {
  background-color: #0056b3; /* Button background color on hover */
}
