<app-header></app-header>
<div class="collaborative-spaces-container">
    <h2>Collaborative Spaces</h2>
    <div class="collaborative-group">
      <h3>Housing & PG</h3>
      <p>Find or share information about housing and PG near the office.</p>
    </div>
    <div class="collaborative-group">
      <h3>Carpooling</h3>
      <p>Connect with others for carpooling to the office.</p>
    </div>
    <div class="collaborative-group">
      <h3>Hackathon Projects</h3>
      <p>Form groups for the next hackathon project.</p>
    </div>
  </div>
  