.collaborative-spaces-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .collaborative-group {
    margin-top: 20px;
  }
  
  .collaborative-group h3 {
    color: #333;
  }
  
  .collaborative-group p {
    color: #555;
  }
  